---
layout: layouts/landing.njk
lang: ru
navPortfolio: "Портфолио"
navCv: "Резюме"
permalink: "/portfolio-ru/index.html"
---
<div class="hello">
          <img src="../assets/avatar.png">
          <span>
            <h3>Product&nbsp;Designer, UX/UI&nbsp;дизайнер </br>Ольга Коновалова </h3>
            <span class="secondary-text">Сербия, Нови Сад</span>
          </span>
        </div>
        <p>11&nbsp;лет проектирую интерфейсы со&nbsp;сложными предметными областями: сервисы ведения бухгалтерии, электронного документооборота.</p>
        <span>
          <h3>В своей работе</h3>
          <ul>
            <li>Опираюсь на данные исследований, аналитики, статистики</li>
            <li>Мыслю сценариями, думаю о пользователях</li>
            <li>Помню о&nbsp;пользе для бизнеса и&nbsp;учитываю возможности разработки</li>
            <li>Отлично отношусь к&nbsp;критике и&nbsp;обсуждениям своих решений</li>
          </ul>
        </span>
