---
layout: layouts/landing.njk
lang: en
navPortfolio: "Portfolio"
navCv: "CV"
permalink: "/portfolio-en/index.html"
---
<div class="hello">
          <img src="../assets/avatar.png">
          <span>
            <h3>Product&nbsp;Designer, UX/UI&nbsp;Designer </br>Olga Konovalova</h3>
            <span class="secondary-text">Serbia, Belgrade</span>
          </span>
        </div>
        <p>I have been designing complicated products for over 11 years: services for bookkeeping, electronic document exchange.</p>
        <span>
          <h3>In my work</h3>
          <ul>
            <li>I rely on statistics, analytics and user research data</li>
            <li>I think in terms of scenarios and consider the user’s needs</li>
            <li>I take business goals and the capabilities of the development team into account</li>
            <li>I am fine with criticising and discussing my decisions</li>
          </ul>
        </span>
