h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
}

h4 {
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .25rem;
}

.wrapper {
    max-width: 1000px;
}

.case {
    display: flex;
    flex-direction: column;
}

.tr > .td:first-child {
    width: 4rem;
}

.th, .td {
    padding-top: 1.5rem;
}

.aboutMe {
    margin-bottom: 0;
}

.solving img {
    position: relative;
    top: 4rem;
}

.screens img {
    padding-top: 1rem;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.describe {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
