h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 140%;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 140%;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
}

.wrapper {
    max-width: 1000px;
}

.case {
    display: flex;
    flex-direction: column;
}

.tr > .td:first-child {
    width: 4rem;
}

.th, .td {
    padding-top: 1.5rem;
}

.solving img {
    position: relative;
    top: 4rem;
}