h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: -.5rem;
}

.experienceUnit {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.experienceUnit h2 {
    margin-bottom: -0.5rem;
}