h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
}

h4 {
    font-weight: 700;
    padding-top: .5rem;
    padding-bottom: .25rem;
}

p {
    max-width: 65%;
}

.wrapper {
    max-width: 1200px;
}

.tr > .td:nth-of-type(1) {
    min-width: 4rem;
    width: 4rem;
}

.th, .td {
    padding-top: 1.5rem;
}

.aboutMe {
    margin-bottom: 0;
}

.aboutMe p {
    max-width: 100%;
}

.solving img {
    position: relative;
    top: 4rem;
}

.screens img {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.describe {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
