.wrapper {
    width: 710px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.buttons div {
    width: 8rem;
    background-color: var(--Link);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.experienceUnit:first-child {
    padding-top: 4rem;
    }

.th, .td {
    padding-top: 0rem;
    }


.links {
padding-top: 0rem;
padding-bottom: 0rem;
}