:root, body { 
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(0, 0, 0, .87);
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.job-description h4 {
    margin-bottom: 12px;
}

.job-description h4:not(:first-of-type) {
    margin-top: 24px;
}

a {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    transition: border-bottom .1s ease-in-out;
}

a:hover {
    border-bottom: 1px solid rgba(34, 34, 34, 1);
}

div.card > a, div.description > a, div.navigation > a {
    border-bottom: 0px solid !important;
}

p {
    line-height: 26px;
}

.job-description p {
    margin-bottom: 16px;
}

td p:not(:first-of-type) {
    margin-top: 0.5rem;
}

li {
    margin-top: 6px;
    line-height: 26px;
    list-style-type: disc;
    margin-left: 21px;
}

.secondary-text {
    color: rgba(0, 0, 0, .4);
}

@media only screen and (max-width: 1072px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    a {
        font-size: 16px;
        line-height: 24px;
    }
    h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }
    .link {
        font-size: 16px;
        line-height: 24px;
    }
    .job-description h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
    .job-description div:nth-of-type(1) p:nth-of-type(1) {
        margin-bottom: 0;
    }
    .job-description div:nth-of-type(1) {
        margin-bottom: 8px;
    }
}