.summ {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0,0,0,0);
  width: 32px;
  height: 52px;
}
.rouble {
  background-image: url(numbers/rouble.png);
  width: 47px;
}
.one {
  background-image: url(numbers/1.png);
}
.two {
  background-image: url(numbers/2.png);
}
.three {
  background-image: url(numbers/3.png);
}
.four {
  background-image: url(numbers/4.png);
}
.five {
  background-image: url(numbers/5.png);
}
.six {
  background-image: url(numbers/6.png);
}
.seven {
  background-image: url(numbers/7.png);
}
.eight {
  background-image: url(numbers/8.png);
}
.nine {
  background-image: url(numbers/9.png);
}
.zero-1 {
  background-image: url(numbers/01.png);
}
.zero-2 {
  background-image: url(numbers/02.png);
}
.zero-3 {
  background-image: url(numbers/03.png);
}
.zero-4 {
  background-image: url(numbers/04.png);
}
.indent {
  margin-left: 13px;
}
